<form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
  <div class="form-group">
    <label for="userName">User Name</label>
    <em
      *ngIf="
        loginForm.controls.userName?.invalid &&
        loginForm.controls.userName?.touched
      "
    >
      required</em
    >
    <input
      type="text"
      class="form-control"
      name="userName"
      id="userName"
      ngModel
      required
    />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <em *ngIf="loginForm.controls.password?.invalid && loginForm.controls.password?.touched"> required</em>
    <input
      type="password"
      name="password"
      class="form-control"
      id="password"
      ngModel
      minlength="5"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">
    Login
  </button>
</form>
