<div class="card">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">description</th>
                <th scope="col">Practical Sessions</th>
                <th scope="col">Theory Sessions</th>
                <th scope="col">
                    <button class="btn btn-secondary" style="float: right" (click)="openAdd()">
                        <i class="fas fa-plus-square  mr-3"></i> Add
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of batchtTemplates">
                <th scope="row">{{item.id}}</th>
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <td>{{item.numberOfPracticalSession}}</td>
                <td>{{item.numberOfTheorySession}}</td>
                <td class="text-right">

                    <a data-toggle="dropdown" class="btn btn-secondary img-circle">
                        <i class="fas fa-chevron-circle-down" mr-3></i></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" (click)="edit(item)"> <i class=" fas fa-user-edit
                                mr-3"></i>
                            Edit</a>
                        <a class="dropdown-item" (click)="showMore(item)"><i class="fas fa-external-link-alt mr-3"></i>
                            view</a>

                    </div>

                </td>
            </tr>
        </tbody>
    </table>
</div>