<form [formGroup]="editForm" (ngSubmit)="saveschool()">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit school</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="row">

      <div class="col-6 form-group">
        <div class="media d-flex align-items-center">
          <app-image-control formControlName="logoImage"></app-image-control>
          <div class="media-body">


          </div>
        </div>
      </div>
      <div class="col-6 form-group">
        <h4 class="m-0">school Name : {{school?.name}} </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="example-number">school Name</label>
          <em *ngIf="editForm.get('name')?.touched && editForm.get('name')?.errors?.required"> required</em>
          <input class="form-control" id="name" type="text" formControlName="name">
        </div>

      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="example-color">Address</label>
          <em *ngIf="editForm.get('address')?.touched && editForm.get('address')?.errors?.required"> required</em>
          <input class="form-control" id="lastName" type="text" formControlName="address">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="example-number">tag Line</label>

          <input class="form-control" id="tagLine" type="email" formControlName="tagLine" (ngModel)="school.tagLine">
        </div>

      </div>
      <div class="col-6">
        <div class="form-group">

        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" [disabled]="editForm.invalid">Save</button>
    <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
  </div>
</form>