<form [formGroup]="userForm" (ngSubmit)="register(userForm.value)" novalidate>
  <div class="form-group">
    <label for="username">User Name <span style="color: red"> *</span></label>
    <em *ngIf="userName?.touched && userName?.errors?.required">required</em>
    <input
      type="text"
      ngModel
      class="form-control"
      formControlName="userName"
      id="username"
    />
  </div>
  <div class="form-group">
    <label for="password">Password <span style="color: red"> *</span></label>
    <em *ngIf="password?.touched && password?.errors?.required"> required</em>
    <input
      type="password"
      ngModel
      class="form-control"
      formControlName="password"
      id="password"
    />
  </div>
  <div class="form-group">
    <label for="confirmPassword"
      >Confirm Password <span style="color: red"> *</span></label
    >
    <em *ngIf="confirmPassword?.touched && confirmPassword?.errors?.required">
      required</em
    >
    <em
      *ngIf="
        confirmPassword?.touched &&
        confirmPassword?.errors &&
        confirmPassword?.errors.notSame
      "
    >
      password and confirm password not same</em
    >

    <input
      #c
      type="password"
      class="form-control"
      formControlName="confirmPassword"
      id="confirmPassword"
    />
  </div>
  <div class="form-group">
    <label for="emailAddress"
      >Email Address <span style="color: red"> *</span></label
    >
    <em *ngIf="emailAddress?.touched && emailAddress?.errors?.required">
      required</em
    >
    <em *ngIf="emailAddress?.touched && emailAddress?.errors?.email">
      invalid email</em
    >
    <input
      type="email"
      ngModel
      class="form-control"
      formControlName="emailAddress"
      id="emailAddress"
    />
  </div>
  <div class="form-group">
    <label for="firstName">First name</label> <span style="color: red"> *</span>
    <em *ngIf="firstName?.touched && firstName?.errors?.required"> required</em>
    <input
      type="text"
      ngModel
      class="form-control"
      formControlName="firstName"
      id="firstName"
    />
  </div>
  <div class="form-group">
    <label for="lastName">Last name <span style="color: red"> *</span></label>
    <em *ngIf="lastName?.touched && lastName?.errors?.required"> required</em>
    <input
      type="text"
      ngModel
      class="form-control"
      formControlName="lastName"
      id="lastName"
    />
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">
    Register
  </button>
</form>
