<form [formGroup]="entityForm" (ngSubmit)="save()">
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{mode}} Student Profile</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="row">

      <div class="col-6 form-group">
        <div class="media d-flex align-items-center">

          <app-image-control formControlName="profilePicture"></app-image-control>
          <div class="media-body">


          </div>
        </div>
      </div>
      <div class="col-6 form-group">
        <label for="password">Select Gender <span style="color: red"> *</span></label>
        <em *ngIf="entityForm?.get('midleName')?.touched && entityForm?.get('midleName')?.errors?.required">
          required</em>
        <drop-select [options]="genderList" formControlName="gender"></drop-select>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="example-number">first Name <span style="color: red"> *</span></label>
          <em *ngIf="entityForm?.get('firstName')?.touched && entityForm?.get('firstName')?.errors?.required">
            required</em>
          <input class="form-control" id="firstName" type="text" formControlName="firstName">
        </div>

      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="example-color">Last Name <span style="color: red"> *</span></label>
          <em *ngIf="entityForm?.get('lastName')?.touched && entityForm?.get('lastName')?.errors?.required">
            required</em>
          <input class="form-control" id="lastName" type="text" formControlName="lastName">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="password">Midle Name </label>
          <em *ngIf="entityForm?.get('midleName')?.touched && entityForm?.get('midleName')?.errors?.required">
            required</em>
          <input type="text" ngModel class="form-control" formControlName="midleName" id="midleName" />
        </div>

      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="">Email Address <span style="color: red"> *</span></label>
          <em *ngIf=" entityForm?.get('emailAddress')?.touched &&  entityForm?.get('emailAddress')?.errors?.required">
            required</em>
          <em *ngIf="
          entityForm?.get('emailAddress')?.touched &&  entityForm?.get('emailAddress')?.errors?.email
                   ">
            Invalid Email address</em>

          <input type="email" class="form-control" formControlName="emailAddress" id="emailAddress" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="password">select school <span style="color: red"> *</span></label>
          <em *ngIf="entityForm?.get('schoolId')?.touched && entityForm?.get('schoolId')?.errors?.required">
            required</em>
          <drop-select [options]="schools" formControlName="schoolId"></drop-select>
        </div>

      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="password">Select Batch <span style="color: red"> *</span></label>
          <em *ngIf="entityForm?.get('batchId')?.touched && entityForm?.get('batchId')?.errors?.required">
            required</em>
          <drop-select [options]="batches" formControlName="batchId"></drop-select>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="example-number">Mobile <span style="color: red"></span></label>
          <em *ngIf="entityForm?.get('mobileNo')?.touched && entityForm?.get('mobileNo')?.errors?.required">
            required</em>

          <input class="form-control" id="mobileNo" type="text" formControlName="mobileNo">
        </div>

      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="example-color">Alternate Number</label>
          <em *ngIf="
               entityForm?.get('alternateNo')?.touched &&
               entityForm?.get('alternateNo')?.errors &&
               entityForm?.get('alternateNo')?.errors?.minLength ||  entityForm?.get('phoneNumber')?.errors?.maxLength
               ">
            invalid Mobile number </em>
          <input class="form-control" id="alternateNo" type="text" formControlName="alternateNo">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="example-number"> Is WatsApp : </label>

          <input id="mobileNo" class="form-control" type="checkbox" formControlName="isWatsApp">
        </div>

      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="example-color">Birth Date <span style="color: red"></span></label>
          <em *ngIf="
               entityForm?.get('birthDate')?.touched &&
               entityForm?.get('birthDate')?.errors
               ">
            invalid birth Date </em>
          <app-date-piker formControlName="birthDate">
          </app-date-piker>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="p-field p-col-12 p-md-6">
          <label for="example-color">course Start Date <span style="color: red"></span></label>
          <em
            *ngIf="entityForm?.get('courseStartDate')?.touched && entityForm?.get('courseStartDate')?.errors?.required">
            required</em>
          <em
            *ngIf="entityForm?.get('courseStartDate')?.touched &&entityForm?.get('courseStartDate')?.errors?.dateInvalid">
            Start date should be greater than end date
          </em>

          <app-date-piker formControlName="courseStartDate">
          </app-date-piker>

        </div>


      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="example-color">Course End Date </label>
          <em *ngIf="entityForm?.get('courseEndDate')?.touched && entityForm?.get('courseEndDate')?.errors?.required">
            required</em>
          <em
            *ngIf="entityForm?.get('courseEndDate')?.touched && entityForm?.get('courseEndDate')?.errors?.dateInvalid">
            Start date should be greater than End date
          </em>
          <app-date-piker formControlName="courseEndDate">
          </app-date-piker>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="p-field p-col-12 p-md-6">
          <label for="example-color">Adress</label>
          <em
            *ngIf="entityForm?.get('courseStartDate')?.touched && entityForm?.get('courseStartDate')?.errors?.required">
            required</em>
          <em
            *ngIf="entityForm?.get('courseStartDate')?.touched &&entityForm?.get('courseStartDate')?.errors?.dateInvalid">
            Start date should be greater than end date
          </em>

          <input class="form-control" id="address" type="text" formControlName="address" aria-multiline="true">

        </div>


      </div>

    </div>
  </div>

  <div class="modal-footer" *ngIf="!isReadOnly">
    <button type="submit" class="btn btn-primary" [disabled]="entityForm?.invalid">Save</button>
    <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
  </div>
</form>