<div class="card">
  <div class="card-header" style="text-align: left">
    <h5>
      School
      <button
        class="btn btn-primary"
        style="float: right"
        (click)="editSchool()"
      >
        <i class="fas fa-user-edit mr-3"></i> edit
      </button>
    </h5>
  </div>

  <div class="card-body">
    <div class="card-title">
      <div class="row">
        <div class="col-4 form-group">
            <div class="media d-flex align-items-center">
                <img [src]="getImage()" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
                <div class="media-body">
                  <h5>Name : {{ school?.name }}</h5>
                  
                </div>
              </div>
        </div>
        <div class="col-4 form-group">
        </div>
    </div>
      <div class="row">
        <div class="col-6">
          <h5>Name : {{ school?.name }}</h5>
        </div>
        <div class="col-6">
          <h5>Tag Line : {{ school?.tagLine }}</h5>
        </div>
      </div>
      <div class="row">
     
        <div class="col-12">
          <h5>address Name : {{ school?.address }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
