<div class="card">
    <div class="card-header">
        Enquiries
    </div>
    <div class="card-body">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Midle name</th>
                    <th scope="col">last name</th>
                    <th scope="col">enquiry Date</th>
                    <th scope="col">Followup Date</th>
                    <th scope="col"> Mobile No</th>
                    <th scope="col"> Email Address</th>
                    <th scope="row" class="text-right">
                        <a class="btn btn-secondary img-circle" (click)="openAdd()"> <i
                                class="fas fa-plus-square  "></i></a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of enquiries">
                    <td>{{item.id}}</td>
                    <td>{{item.firstName}}</td>
                    <td>{{item.midleName}}</td>
                    <td>{{item.lastName}}</td>
                    <td>{{item.enquiryStartDate|date}}</td>
                    <td>{{item.followupDate |date}}</td>
                    <td>{{item.mobileNo}}</td>
                    <td>{{item.emailAddress}}</td>
                    <td class="text-right">

                        <a data-toggle="dropdown" class="btn btn-secondary img-circle">
                            <i class="fas fa-chevron-circle-down" mr-3></i></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" (click)="editEnquiry(item)"> <i class=" fas fa-user-edit
                                mr-3"></i>
                                Edit</a>
                            <a class="dropdown-item" (click)="showMore(item)"><i
                                    class="fas fa-external-link-alt mr-3"></i> view</a>

                        </div>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>