<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Batch time</th>
            <th scope="col">
                <button class="btn btn-secondary" style="float: right" (click)="openAdd()">
                    <i class="fas fa-plus-square  mr-3"></i> Add
                </button>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of batches">
            <th scope="row">{{item.id}}</th>
            <td>{{item.name}}</td>
            <td>{{item.startDate|date}}</td>
            <td>{{item.endDate|date}}</td>
            <td>{{item.batchTime| date:'shortTime'}}</td>
            <td> <button class="btn btn-info" style="float: right" (click)="editBatch(item)">
                    <i class="fas fa-user-edit mr-3"></i> Edit
                </button></td>
        </tr>
    </tbody>
</table>